header {
    text-align: center;
}

#head {
    color: green;
    background-color: lightblue;
}

nav {
	text-align: center;
    background-color: pink;
}

.p {
    display: inline;
    color: white;
}

section {
    background-color: antiquewhite;
    width: 60%;
}

.h {
    color:blue;
}

#img {
    width: 25%;
}

